@font-face {
	font-family: "HelveticaNeueCyr-Light";
	src: local("HelveticaNeueCyr-Light"), url("fonts/HelveticaNeueCyr-Light.otf");
}


body {
	font-family: "HelveticaNeueCyr-Light";
	font-size: 17px;
}

input[type="text"] {
	margin-left: 82px;
	display: block;
    width: 40px;
    height: 25px;
    padding: 0 12px 0 36px;
    font-size: 15px;
    padding: 0;
    font-family: "HelveticaNeueCyr-Light",Helvetica,Roboto,Arial,sans-serif;
    font-size: 16px;
    background: white;
    border: 0;
    border-radius: 0;
	vertical-align: top;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    box-sizing: border-box;
    -webkit-appearance: searchfield;
    box-sizing: border-box;
	outline: none;
}
table { 
    border-collapse: collapse; 
}

.line {
	border-bottom: 1px solid;
    border-color: #E5E5EB;
}


input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

input#toggle + label {
	display: block;
	position: relative;
	box-shadow: inset 0 0 0px 1px #d5d5d5;
	text-indent: -5000px;
	height: 30px;
	width: 50px;
	border-radius: 15px;
	margin: -20px 0px 0px 70px;
}

input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle:checked + label:before {
  width: 50px;
  background: rgba(19, 191, 17, 1);
}

input#toggle:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}